<h1>Formulario para cadastrar pokemons</h1>
<form action="/add-pokemon" method="POST">
    <label for="">Nome</label>    
    <input type="text" name="nome" id="" required><br><br>


    <label for="">Cor do Personagem</label>
    <input type="text" name="cor" id="" required><br><br>


    <label for="">Selecione a imagem</label><br>
    <input type="file" name="imagem" id="imagem"></br></br>

    <input type="submit" value="Cadastrar"> 

</form>